<div class="app-navigation">
  <!-- Sidebar Navigation-->
  <nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar">
        <img src="/assets/images/avatar-6.jpg" alt="Player Name" class="img-fluid rounded-circle">
      </div>
      <div class="title">
        <h1 class="h5">Player Name</h1>
        <p>Frequent Player</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
      <li routerLinkActive="active">
        <a routerLink="home">
          <i class="fa fa-home"></i>Dashboard</a>
      </li>
      <li>
        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
          <i class="fa fa-dice"></i>Games</a>
        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
          <li>
            <a href="#">Game 1</a>
          </li>
          <li>
            <a href="#">Game 2</a>
          </li>
          <li>
            <a href="#">Game 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="friends" routerLinkActive="active">
          <i class="fas fa-user-friends"></i>Friends</a>
      </li>
    </ul>
    <span class="heading">Extras</span>
    <ul class="list-unstyled">
      <li>
        <a href="#">
          <i class="icon-settings"></i>Demo </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-writing-whiteboard"></i>Demo </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-chart"></i>Demo </a>
      </li>
    </ul>
  </nav>
</div>